@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:900&display=swap');

.header{
    width:100%;
    height:10vh;
    
    
}
.full{
    height:90vh;

}
#aboutimg{
    width:100vw;
}
#imgmain{
    height:50vh;
    margin: auto;
    margin-top:20vh;
    display: block;
}