@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:900&display=swap');

html{
    height:100%;
}
body{
    margin:0;
    background: #fff;
    height:100%;
}

.full{
    height:80vh;
    width:100%;
}
#main{
    text-align: center; 
    background-color: #a9d092;  
    background-image: url("../img/bg.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

#mainName{
    margin-top:10vh;
    background:#fff;
    height:50px;
    font-size:20px;
    font-family:'Roboto', sans-serif;
    width:auto;
    text-align:center;
    display:inline-block;
    border-radius:4px;
    

}
.header{
    width:100%;
    height:10vh;
    background-color: #fff;
    
}
.menu{
    height:100%;
    display:table-row;
    
}
.menu-item{
    
    display:table-cell;
    border-width: 2px;
    height:10vh;
    margin-right:10vw;
    width:15vw;
    text-align:center;
    vertical-align:middle;
}
.menu-option1{
    padding-left:15vw;
    
}
.menu-option2{
    padding-left:15vw;
    
}
.menu-text{
    vertical-align:middle;
    font-family: 'Roboto', sans-serif;
    color:#000;
    top:10px;
}
.search{
    border-width: 0px;
    height:50px;
    font-size:20px;
    display:table-cell;
    width:30vw;
    position:relative;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

#searchform{
    height:50px;
  
}
#mainsearch{
    border-right-width: 2px;
    border-right-color:#000;
    border-left-width: 4px;
    border-left-color:#fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#locsearch{
    width:20vw;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.search:focus{
    outline:none;
}
#logo{
    height:10vh;
}
.searchbutton{
    vertical-align: middle;
    margin-right:10px;
}
.bigtext{
    text-align:left;
    z-index:1;
   margin-left:35vw;
   padding-top:10vh;
    position:relative;
}
.headtext{
    font-family: 'Lato', sans-serif;
    font-size:80px;
    color:#fff;
    
    text-align:left;

}
.headtext:after {
	content:"Eat ___";
	animation: spin 5s linear;
}
@keyframes spin {
	0% { content:"Eat Safe"; }
    20% { content:"Eat Healthy"; }
    40% { content:"Eat Good"; }
    60% { content:"Eat Right"; }
    80% { content:"Eat ___"; }
    100% { content:"Eat ___"; }
    

}
a{
    text-decoration:none;
}