html{
    height:100%;
}
body{
    margin:0;
    background: #eee;
    height:100%;
}
.full{
    height:100vh;
    width:100%;
}
#main{
    text-align: center;    
}
#mainName{
    padding-top:40vh;
}
.header{
    width:100%;
    height:10vh;
    background-color: #0ABA5E;
}
.menu{
    height:100%;
    display:inline-block;
    
}
.menu-item{
    border-color: #fff;
    display:inline-block;
    border-width: 2px;
    height:100%;
    width:15vw;
    text-align:center;
    vertical-align:middle;
}
.menu-text{
    vertical-align:middle;
}

